


<form asp-controller="blob" asp-action="upload" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="file" class="form-label">Upload file</label>
        <input class="form-control" type="file" name="postedFile" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


